<a href="https://colab.research.google.com/github/YuriiKlim/Projects/blob/Clothing_Classifier/clothing_classifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import torch
import pandas as pd
import os

os.environ['CUDA_LAUNCH_BLOCKING'] = '1'
os.environ['TORCH_USE_CUDA_DSA'] = '1'


device = "cuda" if torch.cuda.is_available() else "cpu"
#torch.set_default_device(device)

torch.manual_seed(0)

In [ ]:
df = pd.read_csv('C:/Users/klimk/Desktop/Project/products_final.csv')
df

,sku,Type,Color,Season,Gender,Brand
0,М990GL6,Sneakers,Grey,Demi-season,Male,New Balance
1,М2002RJX,Sneakers,Grey,Demi-season,Male,New Balance
2,ЕЕ5364,Sneakers,Black,Demi-season,Female,Adidas
3,ZXNCSMM1013-BLACK,Track-jacket,Black,Demi-season,Male,Castore
4,ZWFB8P557-ORS,Longsleeve,Black,Demi-season,Female,Nike
...,...,...,...,...,...,...
279891,"1,10E-42",Sneakers,Grey,Demi-season,Male,Brooks
279892,"1,10E-42",Sneakers,Black,Demi-season,Male,Brooks
279893,"1,10E-53",Sneakers,Black,Demi-season,Male,Brooks
279894,"1,10E-61",Sneakers,Grey,Demi-season,Male,Brooks
279895,"1,10E-129",Sneakers,White,Demi-season,Male,Brooks

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 279896 entries, 0 to 279895
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   sku     279896 non-null  object
 1   Type    279896 non-null  object
 2   Color   279896 non-null  object
 3   Season  279896 non-null  object
 4   Gender  279896 non-null  object
 5   Brand   279894 non-null  object
dtypes: object(6)
memory usage: 12.8+ MB

In [ ]:
type_counts = df['Type'].value_counts()
type_counts

Type
Sneakers             78818
T-shirt              41997
Pants                21906
Shorts               18042
Hoodie               15596
Jacket               11747
Gumshoes              9999
Sweatshirt            8616
Longsleeve            6823
Slippers              5917
Sweater               5788
Tank-top              5171
Boots                 5050
Leggings              4184
Top                   3914
Polo                  3906
Football boots        3832
Track-jacket          3645
Full-zip Hoodie       3581
Shirt                 3574
Football sneakers     2004
Cap                   1987
Puffer jacket         1885
Sandals               1743
Backpack              1637
Shoes                 1504
Vest                  1464
Dress                 1292
Hat                    970
Skirt                  835
Bomber                 821
Parka                  746
High boot              510
Anorak                 392
Name: count, dtype: int64

In [ ]:
type_counts = df['Color'].value_counts()
type_counts

Color
Black                  71932
White                  37981
Blue                   28215
Grey                   23429
Beige                  17411
                       ...
Purple/Bordo               1
Bordo/Olive                1
Metallic/Light-Blue        1
Peach/Pink                 1
Red/Turquoise              1
Name: count, Length: 371, dtype: int64